#header {
  padding: 40px 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav {
      display: flex;
      align-items: center;
      gap: 100px;
      a {
        color: #ffffff;
        font-weight: 800;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 46.5%;
        &.active {
          border-bottom: 2px solid #eb0000;
        }
      }
    }
    &--logo {
      img {
        cursor: pointer;
      }
    }
    &--icons {
      display: flex;
      align-items: center;
      gap: 30px;
      a {
        color: #ffffff;
        font-size: 24px;
      }
    }
  }
}
